[submodule "scripts/zsh-autosuggestions"]
	path = toolchain/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "fonts/fonts"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "scripts/zsh-syntax-highlighting"]
	path = toolchain/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "toolchain/dotfiles.github.com"]
	path = toolchain/dotfiles.github.com
	url = https://github.com/dotfiles/dotfiles.github.com
[submodule "dot/.vim/colors/vim-colors-solarized"]
	path = dot/.vim/colors/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "themes/papercolor-theme"]
	path = themes/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "themes/base16-vim"]
	path = themes/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "themes/gruvbox"]
	path = themes/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "themes/vim-railscasts-theme"]
	path = themes/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "themes/jellybeans.vim"]
	path = themes/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "themes/mango.vim"]
	path = themes/mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "fonts/FiraCode"]
	path = fonts/FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
[submodule "others/dotfiles"]
	path = others/dotfiles
	url = https://github.com/mallyvai/dotfiles.git
[submodule "others/Vundle.vim"]
	path = others/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dot/.vim/bundle/nerdtree"]
	path = dot/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
