[submodule "scripts/zsh-autosuggestions"]
	path = toolchain/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "fonts/fonts"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "scripts/zsh-syntax-highlighting"]
	path = toolchain/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "toolchain/dotfiles.github.com"]
	path = toolchain/dotfiles.github.com
	url = https://github.com/dotfiles/dotfiles.github.com
